<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "index.css" %>
</head>
<body>
<h1 style="text-align:center;"><button class="button button2">Music</button> </h1>
<table style="width:100%">
</body>
</html>